Выбрать одну категорию для одного города на Ebay и спарсить данные в свою базу
Сделать на сайте просмотр списка объявлений и просмотр страницы объявления
Сделать регистрацию пользователей
Дать пользователю возможность размещать объявления, редактировать свои объявления и просматривать список своих объявлений
Дополнение 1: Дать зарегистрированным пользователям возможность оставлять комментарии к объявлениям
Дополнение 2: Уведомлять пользователя о комментарии к объявлению по email
Дополнение 3: Реализовать функционал поиска и фильтрации в списке объявлений
Дополнение 4: Реализовать функционал поиска подобных объявлений на сайте Ebay и сделать возможность сравнения цен. В случае получения информации с Ebay учитывать: срок доставки и стоимость доставки товара, курс валюты. Исключить вывод предложений – аукционов.
Дополнение 5. Реализовать возможность участвовать в аукционе на интересующий товар, размещенный на Ebay, с помощью ‘скрипта’, позволяющего отслеживать изменение цены, моментально перебивать ставку оппонента на фиксированную сумму, если общая цена не превысит лимита, установленного пользователем.
Дополнение 6. Реализовать возможность вносить пользователей в бан-лист, производить отсев продавцов с сайтов аналогов по параметрам: рейтинг продавца, отзывы, дата регистрации, кол-во проданных товаров.
Дополнение 7. Допустить возможность использовать для оплаты сервис PayPal.